#-----------------
# BIGQUERY TFVARS
#-----------------

// REQUIRED TFVARS

dataset_id = ""
project_id = ""

// OPTIONAL TFVARS

bigquery_access = [{
  role           = ""
  group_by_email = ""
}]

dataset_labels               = {}
dataset_name                 = ""
default_table_expiration_ms  = null
delete_contents_on_destroy   = true
bigquery_deletion_protection = false
bigquery_description         = ""
encryption_keys              = null
external_tables              = []
location                     = ""
routines                     = []
tables                       = []
views                        = []